@import url('./css/01-header.css');
@import url('./css/02-banner.css');
@import url('./css/03-about-event.css');
@import url('./css/04-section-artists.css');
@import url('./css/05-format-event.css');
@import url('./css/06-parallax.css');
@import url('./css/07-golden-section-data.css');

* {
  box-sizing: border-box;
}
body {
  background: #fafafa;
  font-family: 'DINPro';
  scroll-behavior: smooth;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.box-center,
.box-center-banner {
  max-width: 1326px;
  margin: 0px auto;
}

@media (max-width: 1326px) {
  .box-center {
    max-width: 1326px;
    margin: 0px;
    padding: 0px 16px;
  }
}

ul {
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h3 {
  margin: 0px;
}
@font-face {
  font-family: 'DINPro';
  src:
    url('./font/DINPro-Light.ttf') format('ttf'),
    url('./font/DINPro-Light.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'DINPro';
  src:
    url('./font/DINPro.ttf') format('ttf'),
    url('./font/DINPro.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'DINPro';
  src:
    url('./font/DINPro-Medium.ttf') format('ttf'),
    url('./font/DINPro-Medium.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'DINPro';
  src:
    url('./font/DINPro-Bold.ttf') format('ttf'),
    url('./font/DINPro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'DINPro';
  src:
    url('./font/DINPro-Black.ttf') format('ttf'),
    url('./font/DINPro-Black.woff') format('woff');
  font-weight: 800;
}
